<div class="container text-center mt-5">
  <h1 class="display-4 mb-4">Benvenuto su Netflix!</h1>
  <h2 class="mb-4">Accedi al tuo account</h2>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form
        #loginForm="ngForm"
        (ngSubmit)="login(loginForm)"
        class="shadow p-4 rounded bg-light"
      >
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            required
            class="form-control"
            ngModel
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            class="form-control"
            ngModel
          />
        </div>
        <button
          type="submit"
          [disabled]="loginForm.invalid"
          class="btn btn-primary mt-3"
        >
          Accedi
        </button>
      </form>
    </div>
  </div>
</div>
