<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-4">Seguici</h5>
        <div class="social-icons">
          <a href="#" class="social-icon"
            ><i class="bi bi-facebook fs-4"></i
          ></a>
          <a href="#" class="social-icon"><i class="bi bi-twitter fs-4"></i></a>
          <a href="#" class="social-icon"
            ><i class="bi bi-instagram fs-4"></i
          ></a>
          <a href="#" class="social-icon"><i class="bi bi-youtube fs-4"></i></a>
        </div>
      </div>
      <div class="col-md-2">
        <h5 class="mb-4">Risorse</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-decoration-none text-white"
              >Audio and Subtitles</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white">Media Center</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white">Privacy</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="mb-4">Altro</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-decoration-none text-white">Help Center</a>
          </li>
          <li><a href="#" class="text-decoration-none text-white">Jobs</a></li>
          <li>
            <a href="#" class="text-decoration-none text-white"
              >Cookie Preferences</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="mb-4">Informazioni</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-decoration-none text-white"
              >Audio Description</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white"
              >Investor Relations</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white"
              >Legal Notices</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white">Gift Cards</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white">Terms of Use</a>
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white"
              >Corporate Information</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col text-center">
        <p class="mb-0">&copy; 1997-2024 Netflix Inc</p>
      </div>
    </div>
  </div>
</footer>
